/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #f9611f;
  --second-color: #fdb50d;
  --first-gradient: linear-gradient(90deg,
                  #f9611f,
                  #fd7f49);
  --title-color: rgb(29, 27, 34);
  --text-color: hsl(225, 12%, 24%);
  --text-color-light: #b1afb6;
  --body-color: hsl(0, 0%, 100%);
  --container-color: #ffffff;
  --white-color: #ffffff;
  --black-color: #17141f;
  --gray-border: #e5e4e7;
  --black-border: #302e38;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --big-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}


/*=============== REUSABLE CSS CLASSES ===============*/
section {
  padding: 80px 18%;
}

span {
  color: var(--first-color);
}

.grid {
  display: grid;
  gap: 1.5rem;
}


/* Class para estilos do texto */
/* .section__title, 
.section__subtitle {
  text-align: center;
} */


/* Estilo do title */
.section__title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  display: block;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--second-color);
  margin-bottom: .5rem;
}



/*=============== HEADER & NAV ===============*/
/* Inciando sessão header */

header {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 25px 15%;
  z-index: 1000;
  transition: all .35s ease;
}
.logo {
  font-size: var(--h3-font-size);
  color: var(--black-color);
  font-weight: var(--font-bold);
}
.navbar {
  display: flex;
  align-items: center;
}
.navbar a {
  font-size: var(--p-font);
  color: var(--text-color);
  padding: 10px 28px;
  font-weight: 700;
  transition: all .35s ease;
}
.navbar a:hover {
  color: var(--first-color);
}